<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.uphy.alfred.grafana</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>09BFBE62-72BC-43E0-9B7F-62B67D55BDED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EF9EDCC-2184-4D83-ADCD-E5818952D797</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EF9EDCC-2184-4D83-ADCD-E5818952D797</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73AD94A4-8D6F-4ADE-9A51-FA5FDF8713E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73AD94A4-8D6F-4ADE-9A51-FA5FDF8713E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48D02B76-2881-41AE-B43B-E9C8D5680DB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>uphy</string>
	<key>description</key>
	<string>Open Grafana Dashboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Grafana</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>48D02B76-2881-41AE-B43B-E9C8D5680DB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting dashboards...</string>
				<key>script</key>
				<string>./list-dashboards.ts "$GRAFANA_ORG_SETTING"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Grafana Dashboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>73AD94A4-8D6F-4ADE-9A51-FA5FDF8713E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-organizations.ts</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>09BFBE62-72BC-43E0-9B7F-62B67D55BDED</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>GRAFANA_ORG_SETTING</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4EF9EDCC-2184-4D83-ADCD-E5818952D797</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09BFBE62-72BC-43E0-9B7F-62B67D55BDED</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>48D02B76-2881-41AE-B43B-E9C8D5680DB4</key>
		<dict>
			<key>note</key>
			<string>Open Grafana Dashboard</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>4EF9EDCC-2184-4D83-ADCD-E5818952D797</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>73AD94A4-8D6F-4ADE-9A51-FA5FDF8713E9</key>
		<dict>
			<key>note</key>
			<string>Fetch grafana dashboard list via Grafana API</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>[]</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>JSON list of organization objects.
Each organization object has the following properties:

- id: The organization ID.
- name: The organization name.
- token: The API token for the organization.
- limit: The maximum number of dashboards to import.
- base-url: The base URL for the Grafana instance.
- defaults: Default values for the dashboard properties. It will be appended to the dashboard URL as query parameters.

Example:
---
[
    {
        "id": 1,
        "name": "Organization Name",
        "token": "TOKEN",
        "limit": 1000,
        "base-url": "https://grafana.com",
        "defaults": {
            "refresh": "5m"
        }
    }
]</string>
			<key>label</key>
			<string>Grafana Organization Setting JSON</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>GRAFANA_ORG_SETTINGS</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
